<div class="container-fluid bg-1 text-center">
  <h3>Who Am I?</h3>
  <%= link_to user_path(1) do %>
    <%= image_tag @user.image.url(:medium), class: "img-circle" %>
  <% end %>
  <h3>I'm a <%= @user.first_name %> <%= @user.last_name %></h3>
</div>
