// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.primary {
  color: #fff;
  border: none;
}
.position_right {
  float: right;
}
dl {
  background-color: #fff;
}
dt {
  background-color: #555;
}
dd {
  background-color: #fff;
  color: #000;
}
.white { 
    background-color: #ffffff; /* White */
    //background: linear-gradient(to top, #000000, #75adea);
    color: #000000;
}
.affix {
  top: 20px;
}