// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.primary {
  color: #fff;
  border: none;
}
.position_right {
  float: right;
}
dl {
  background-color: #999;
}
dt {
  background-color: #555;
}
dd {
  background-color: #999;
}