// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.primary {
  background-color: #555;
  color: #fff;
  border: none;
}
.border {
  border: 3px !important;
}